/* THIS AFFECTS THE MOBILE NAVBAR */
.mobile-nav-bar {
    /* background-color: #7d0070; */
    /* background-color: #d984d0; */
    background-color: black;
  }
  
/* THIS AFFECTS ANCHOR TAGS IN THE MOBILE NAVBAR */
.mobile-nav-bar a {
    color: #fefefe;
  }

/* THIS REPRESENTS THE TITLE PAGE */
.card-user-profile {
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
  }
  
  .card-user-profile > :last-child {
    margin-bottom: 0;
  }
  
  .card-user-profile .card-user-profile-img {
    opacity: 1;
  }
  
  .card-user-profile-content {
    position: relative;
  }
  
  .card-user-profile-content::before {
    position: absolute;
    content: '';
    top: -3.4375rem;
    left: -1.875rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.4375rem 0 0 31.25rem;
    z-index: 0;
    border-color: transparent transparent transparent #fefefe;
  }
  
  .card-user-profile-actions {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 1rem;
    background: #e6e6e6;
    background: #fefefe;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .card-user-profile-actions > :last-child {
    margin-bottom: 0;
  }
  
  .card-user-profile-img {
    max-width: 100%;
    opacity: 0.85;
    transition: all 0.25s ease;
  }
  
  .card-user-profile-avatar {
    position: absolute;
    bottom: 100%;
    left: 1rem;
    z-index: 2;
    max-width: 5.625rem;
  }
  
  .card-user-profile-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-user-profile-name {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .card-user-profile-button {
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    background-color: black;
  }
  
  .card-user-profile-button + .card-user-profile-button {
    margin-left: 1rem;
  }
  
  .card-user-profile-info {
    font-size: 0.875rem;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  

/* THESE AFFECT THE NAVBUTTONS THAT APPEAR IN THE BOTTOM OF THE GAMEPLAY WINDOW */
.pagination-pointed .pagination-pointed-button, .pagination-pointed .current, .pagination-pointed .pagination-previous {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #2c3840;
    color: #fff;
    outline: 0;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  
  .pagination-pointed .pagination-pointed-button:hover, .pagination-pointed .current:hover, .pagination-pointed .pagination-previous:hover {
    background-color: #41525e;
  }
  
  .pagination-pointed .current {
    background: red;
    /* color: black; */
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
  }
  
  .pagination-pointed .pagination-next a {
    border-radius: 4px 0 0 4px;
    margin-right: 18px;
  }
  
  .pagination-pointed .pagination-next a:hover::after {
    border-left: 17px solid #41525e;
  }
  
  .pagination-pointed .pagination-next a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #2c3840;
    transition: all 0.2s linear;
  }
  
  .pagination-pointed .pagination-previous {
    border-radius: 0 4px 4px 0;
    margin-left: 18px;
  }
  
  .pagination-pointed .pagination-previous:hover::after {
    border-right: 17px solid #41525e;
  }
  
  .pagination-pointed .pagination-previous::before {
    content: "";
  }
  
  .pagination-pointed .pagination-previous::after {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-right: 17px solid #2c3840;
    transition: all 0.2s linear;
  }
  
/* THIS AFFECTS THE STYLING OF THE INPUT FIELD FOR USER ANSWERS */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

/* THIS DETERMINES THE HEIGHT OF THE SMALL ICON SO IT CAN FIT THE NAVBAR */
  #small-icon {
    height: 32px;
  }

/* THIS CHANGES THE BACKGROUND OF THE SOCIAL MEDIA BUTTONS TO BLACK */
  .social {
    background-color: black;
  }


/* THIS SETS THE SUBMIT BUTTON DURING GAMEPLAY TO BE 100% OF THE WIDTH OF THE VIEWPORT */
  #userWord{
    width: 100%;
    padding: 16px
  }

  
  /* THESE TURN BUTTONS RED WHEN HOVERED OVER AND BOLDS THE TEXT WHEN CLICKED */

  .button {
    background-color: black;
  }
  .button:hover{
    background-color: red;
    font-weight: bold;
  }
  
  .button #userWord {
    padding: 1rem;
  }

